.button {
    background: $blue;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    outline: none;

    &--link {
        background: none;
        transition: color 2s ease;
        
        &:hover {
            color: #ff8908;
        }
    }

    &--secondary {
        background: #888;
    }

    &--primary {

        background: #07508f;
        padding: 0.8rem 1.5rem;
        border-radius: 0.4rem;
    }
}

 

 
   
 