.button {
    background: $blue;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    outline: none;

    &--link {
        background: none;
        transition: color 2s ease;

        &:hover {
            color: $warning;
        }
    }

    &--secondary {
        background: #888;
    }

    &--primary {
        background: $secondary;
        padding: 0.8rem 1.5rem;
        border-radius: 0.4rem;
        transition: background 3s ease;

        &:hover {
            background: darken($secondary, $amount: 17%);
        }
    }

    &--view {
        background: $primary-button;
        border-radius: 0.4rem;
        transition: background 2s ease;

        &:hover {
            background: darken($primary-button, $amount: 10%);
        }
    }

    &--dark {
        background: $filter-grey;
        border-radius: 0.4rem;
        
        transition: background 2s ease;
        margin: 1rem 4rem;

        &:hover {
            background: darken($primary, 20%);
        }
    }

    &--full {
        width: 100%;
    }
}