.filter {
    background: $filter-grey;
    color: #fff;

    &>div {
        height: 5rem;
    }

    & h4 {
        margin: 0;
        padding: 1.2rem 0;
        height: 100%;
    }

    &__container {
        color: #ececec;
        background: $primary-filter;

        select {
            width: 100%;
            padding: 0.8rem;
            margin: 0.5rem 0;
        }
    }

}