.padding {
    // width: 100%
    padding: 0.5rem 0;
}

.grid {
    display: grid;
    // grid-template-columns: 1fr 3fr;
    // grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "lt ti"
        "ls si"
        ". btn";
    padding: 0.5rem 0;

    &-label {
        &-text {
            grid-area: lt;
            @extend .padding;
        }

        &-select {
            grid-area: ls;
            @extend .padding;
        }
    }

    &-text-input {
        grid-area: ti;
    }

    &-select-input {
        grid-area: si;
    }

    &-button {
        grid-area: btn;
    }
}