* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    //16px * 0.625 = 10
    // [10px] / 16px * 100%
}

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.is-active {
    font-weight: bold;
}